doctype html
head
    meta(name="viewport" content="width=device-width; initial-scale=1")
    title #{title}
    link(rel="stylesheet" href="/stylesheets/app.css")
    script(src="/javascripts/vendor.js")
    script(src="/javascripts/app.js")
body
    .wow_wrapper.search(style="display:block")
        .so_search_container
            a.so_cross(href='/')

        .very_bullshit_search_container


    script.
      var bullshit = !{bullshit}
      require('initialize');

