@keyframes blinking {
  0% {
    visibility: visible; }

  50% {
    visibility: hidden; } }

@-webkit-keyframes blinking {
  0% {
    visibility: visible; }

  50% {
    visibility: hidden; } }

@-moz-keyframes blinking {
  0% {
    visibility: visible; }

  50% {
    visibility: hidden; } }

.blink {
  -webkit-animation: blinking 0.8s step-end infinite alternate;
  animation: blinking 0.8s step-end infinite alternate; }

@font-face {
  font-family: Dat Font;
  font-style: normal;
  src: url("font/HelveticaNeueCyr-Bold.otf") format("truetype"); }

@font-face {
  font-family: Fonti Sans;
  font-style: normal;
  src: url("font/fontinsans_cyrillic_r_46b.ttf") format("truetype"); }

body {
  background-color: #000;
  font-size: 16pt;
  font-family: 'Dat Font';
  color: #fff;
  background: url("/img/Bullshit.png");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden; }

ul li {
  list-style-type: none; }

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 1px; }

.clearfix, .date:after {
  width: 100%;
  clear: both; }

.many_header {
  text-align: center;
  margin-top: 3.25%;
  margin-bottom: 2.6%; }

.a_lot_of_nav_container {
  font-size: 75%;
  padding: 0 2%;
  margin-bottom: 3.5%; }

.much_sub_header {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  display: inline-block; }

.so_about {
  width: 30%;
  float: left; }

.very_date {
  float: right;
  width: 20%;
  text-align: right; }


.wow_wrapper {
  position: relative;
  transition: All 0.7s ease;
  -webkit-transition: All 0.7s ease;
  -moz-transition: All 0.7s ease;
  -o-transition: All 0.7s ease;
  z-index: 2;
  left: 0px; }

.wow_wrapper.search {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  letter-spacing: 1px;
  padding-bottom: 80px; }

.wow_wrapper.main {
  letter-spacing: 1px; }

.wow_wrapper.about {
  overflow: visible;
  height: 100%;
  max-height: 100%;
  left: -335px;
  top: 0;
  bottom: 0;
  position: fixed;
  width: 320px;
  background-color: #fff; }
  .wow_wrapper.about .separator {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: url('/img/jorik.png') repeat-y right top;
    right: -13px; }
  .wow_wrapper.about .so_cross {
    background: url('/img/cross-black.png') no-repeat;
    margin: 45px auto 0px auto; }

.about_header_nosrollbar_wrapper {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  width: 310px; }

.about_header {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  color: #000;
  font-size: 100%;
  text-align: center;
  padding: 12% 0;
  width: 335px; }

.about_message {
  padding: 9% 12%;
  font-family: "Fonti Sans";
  font-size: 10pt;
  color: #000;
  text-align: center;
  line-height: 18px; }
  .about_message a {
    font-size: 10pt;
    color: #000; }

.very_bullshit_container, .very_bullshit_search_container {
  padding: 0 12.5%;
  text-align: center;
  padding-bottom: 50px; }

.much_about_footer {
  margin-top: 50px;
  width: 100%;
  text-align: center; }

.place_list {
  min-height: 380px;
  font-weight: bold;
  color: #000; }
  .place_list .place_list_header {
    color: #000;
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    font-size: 8pt; }
  .place_list ul {
    padding: 0; }
    .place_list ul li {
      margin-bottom: 10px; }
  .place_list a {
    color: #000;
    font-family: 'Helvetica Neue';
    text-transform: uppercase;
    font-size: 11pt; }


.such_bullshit_message {
  padding-top: 3%;
  text-transform: uppercase;
  padding-bottom: 0.6%;
  font-size: 125%;
  line-height: 175%;
  word-break: normal; }

.many_footer {
  font-size: 62.5%;
  color: #595959;
  font-family: "Fonti Sans";
  letter-spacing: 1px; }
  .many_footer a {
    color: inherit !important;
    text-decoration: underline;
    border-bottom: 0px solid #a3a3a3; }
  .many_footer a:hover {
    color: #ffffff !important; }

.so_search_container {
  padding-top: 6.7%;
  padding-bottom: 3.7%;
  text-align: center; }
  .so_search_container .so_cross {
    margin: 0 auto; }
  .so_search_container .many_header {
    margin: 3.5% auto;
    text-align: center;
    font-size: 125%; }
  .so_search_container .very_search_input {
    font-family: 'Dat Font';
    text-align: center;
    font-size: 562%;
    color: #fff;
    background-color: transparent;
    outline-style: none;
    border: 0px solid #fff;
    width: 100%;
    height: 141px;
    text-transform: uppercase; }

.many_search_input {
  margin: 0 auto;
  border: 0px solid #000;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 3.5%; }

.many_about_container {
  width: 25%; }

.so_cross {
  border: 0px solid #000;
  display: block;
  width: 23px;
  height: 23px;
  background: url('/img/cross.png') no-repeat left top;
  cursor: pointer; }

.amazing_button {
  margin-top: 3.5%;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
  font-size: 75%;
  padding: 25px 0px 20px 0px;
  cursor: pointer;
  width: 300px;
  margin: 0 auto; }

.so_sorry {
  display: none;
  font-family: "Fonti Sans";
  font-size: 65%;
  color: #fff;
  line-height: 200%;
  text-align: center; }

.wow_show_about {
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease; }

.wow_del_bullshit {
  cursor: pointer; }

@media (max-width: 770px) and (min-width: 540px) {
  body {
    font-size: 12pt !important; }
  .many_header {
    margin-bottom: 4.6%; } }

@media (max-width: 540px) {
  body {
    font-size: 9pt !important; }
  .many_header {
    margin-bottom: 6%; } }

@media (max-width: 1000px) and (min-width: 100px) {
  .so_time_span {
    display: none; } }


/*# sourceMappingURL=app.css.map*/