doctype html
head
  meta(name="viewport" content="width=device-width")

  title Bullshit Board

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

body
  .wow_wrapper.about
      .about_header
          | О ПРОЕКТЕ
        .about_message
          | Самая большая подстава заключается в том, что когда ты слышишь впервые историю от
          | человека, то ты не обращаешь
          a(href='http://the-grizzly.ru') The Grizzly
          | на детали, у тебя все дорисовывается само в го- лове. Когда слышишь
          | историю во второй, третий, тысячный раз, то понимаешь.
        .much_about_footer
          .place_list
            .place_list_header ВОЗЬМИ СВОЙ НОМЕР ЗДЕСЬ
            ul
              li
                a(href='#') creative space
              li
                a(href='#')  dobro cowork
              li
                a(href='#') стриж Барбершоп
              li
                a(href='#') setter’s brew-bar
              li
                a(href='#') коворкинг MEsto
              li
                a(href='#') Irene & Mary
          .so_cross.wow_hide_about
        .separator
  .wow_wrapper.main
    .many_header
      | Bullshit board
    .a_lot_of_nav_container
      .so_about
        a.wow_show_about(href='#') О проекте
      .much_sub_header
        a.wow_show_search(href='#') Найти / Добавить булшит
      .very_date 09.06.14 / 20:38
    .many_about_container
    .very_bullshit_container
      .bullshit
        .such_bullshit_message
          | 47hours, хакатон и конференция – 11 июня,
          a(href='#') 47hours.org
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | продаю macbook air 13’
          a(href='#') vk.com/vitalik
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | voodoobooks: Новый компактный блокнот COMPACT SKETCHBOOK
          | формата A1!!!!!
          a(href='#') voodoobooks.ru/shop
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | hobo and sailor: We took inspiration from classic U.S.Navy T-shirts
          | and created this fresh summer collection.
          a(href='#') hoboandsailor.com
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | 47hours, хакатон и конференция – 11 июня,
          a(href='#') 47hours.org
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | продаю macbook air 13’
          a(href='#') vk.com/vitalik
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | voodoobooks: Новый компактный блокнот COMPACT SKETCHBOOK
          | формата A1!!!!!
          a(href='#') voodoobooks.ru/shop
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
      .bullshit
        .such_bullshit_message
          | hobo and sailor: We took inspiration from classic U.S.Navy T-shirts
          | and created this fresh summer collection.
          a(href='#') hoboandsailor.com
        .many_footer [ 10 июня 2014 / 12:43 ] рассказать об этом: Вконтакте / Фейсбук / Твиттер
  .wow_wrapper.search
    .so_search_container
      a.so_cross.wow_hide_search(href='#')
      .many_header ПОИСК БУЛШИТА
      textarea.very_search_input
    .very_bullshit_container
      .so_sorry
        | Извини, ничего похожего.
        br
        | Сформулируй хорошенько что ищешь и жми:
    .amazing_button(style='margin-top: 3.5%;') опубликовать булшит


  script.
    require('initialize');